"" Base settings
"" ==============================================================================
set scrolloff=0
set showmode
set showcmd
set clipboard+=unnamed,ideaput " Enable system clipboard integration
set incsearch
set ideajoin " join line from below to the end of this one
set number relativenumber

set visualbell "Stop the error sound

let mapleader = " "
"" Remaps
"" =============================================================================

nnoremap \e :e ~/.ideavimrc<CR> " Quickly open IdeaVim configuration file with \e
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>:echo "IdeaVim configuration reloaded!"<CR>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR> " ToggleDistractionFreeMode for clean interface
" Reload IdeaVim configuration with a status bar message


nnoremap <A-k> :m .-2<CR>==
nnoremap <A-j> :m .+1<CR>==

nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>T :action HideActiveWindow<CR>

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map <leader>d dd
map <leader>r <Action>(ReformatCode)
map <leader>c <Action>(CommentByLine)

" Map keys for navigating to implementation and going back
map <leader>gi <Action>(GotoImplementation)  " Go to Implementation
map <leader>b <Action>(Back)                " Go Back
map <leader>o <Action>(OptimizeImports)